html{
  margin:15px;
}
body{
  font-family: "Helvetica Neue",sans-serif;
}

.center-hor-vert {
    width: 100px;
    height: 100px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
